.container.section {
  padding-top: 20px;
  display: flex;
  gap: 20px;
  height: 820px;
  justify-content: center;
}

.container_ring1,
.container_ring2 {
  background-color: #ededed;
  width: 100%;
  max-width: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.container_earrings1,
.container_earrings2 {
  background-color: #ededed;
  width: 100%;
  max-width: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-top: -10px;
}

.container_ring,
.container_earrings {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container_ring1-img {
  padding-top: 47px;
  padding-left: 70px;
  padding-right: 70px;
}

.container_ring1-description,
.container_ring2-description {
  padding-left: 30px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.container_ring2-img {
  padding-top: 60px;
  padding-left: 70px;
  padding-right: 70px;
}

.container_earrings1-img {
  padding-left: 40px;
  padding-right: 40px;
  margin-top: -20px;
  overflow: hidden;
}

.container_earrings1-description {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-top: -15px;
  padding-left: 30px;
  padding-bottom: 20px;
}

.container_earrings2-img {
  width: 100%;
  height: auto;
  aspect-ratio: 340/234;
  object-fit: cover;
  object-position: center;
}

.container_earrings2-description {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-top: -10px;
  padding-left: 30px;
  padding-bottom: 20px;
}

.container_earrings2-img {
  margin-top: -9px;
}

.container_ring1-description-name,
.container_ring2-description-name,
.container_earrings1-description-name,
.container_earrings2-description-name {
  font-family: var(--body-font-small);
  font-weight: var(--font-regular);
  font-size: var(--small-font-size);
  color: var(--first-color);
}

.container_ring1-description-p,
.container_ring2-description-p,
.container_earrings1-description-p,
.container_earrings2-description-name {
  font-family: var(--body-font-small);
  font-weight: var(--font-small);
  font-size: var(--smaller-font-size);
  color: var(--first-color);
}
