.container.section {
  padding-top: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.container_ring1,
.container_ring2 {
  background-color: #ededed;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 67px;
}

.container_earrings1,
.container_earrings2 {
  background-color: #ededed;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container_ring {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container_earrings {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container_necklaces-img {
  height: 100%;
}

.container_ring1-img {
  padding-top: 47px;
  padding-left: 70px;
  padding-right: 70px;
}

.container_ring1-description {
  padding-left: 30px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.container_ring2-img {
  padding-top: 60px;
  padding-left: 70px;
  padding-right: 70px;
}

.container_ring2-description {
  padding-left: 30px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.container_earrings1 {
  padding-left: 40px;
  padding-right: 40px;
}

.container_earrings1-img {
  margin-top: -20px;
}

.container_earrings1-description {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 9px;
  padding-bottom: 20px;
}

.container_ring1-description-name,
.container_ring2-description-name,
.container_earrings1-description-name,
.container_earrings2-description-name {
  font-family: var(--body-font-small);
  font-weight: var(--font-regular);
  font-size: var(--small-font-size);
  color: var(--first-color);
}

.container_ring1-description-p,
.container_ring2-description-p,
.container_earrings1-description-p,
.container_earrings2-description-p {
  font-family: var(--body-font-small);
  font-weight: var(--font-small);
  font-size: var(--smaller-font-size);
  color: var(--text-color-transparent);
}

.container_ring1-price,
.container_ring2-price,
.container_earrings1-price,
.container_earrings2-price {
  font-family: var(--body-font-small);
  font-weight: var(--font-regular);
  font-size: var(--smaller-font-size);
  color: var(--text-color-orange);
}
