.container.section {
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
  max-width: 1440px;
}

.container_earrings1-img,
.container_earrings2-img {
  flex: 1 1 314px;
  overflow: hidden;
  object-fit: cover;
  object-position: center right;
}

.container_ring {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1 1 400px;
}

.container_earrings {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container_necklaces-img {
  width: 100%;
  height: auto;
  aspect-ratio: 600/820;
}

.container_ring1-description {
  padding-left: 30px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.container_ring2-description {
  padding-left: 30px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.container_necklaces {
  flex: 1 1 600px;
}

.container_earrings {
  flex: 1 1 400px;
}

.container_ring1,
.container_ring2,
.container_earrings1,
.container_earrings2 {
  background-color: #ededed;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  gap: 40px;
  height: auto;
  aspect-ratio: 1/1;
  overflow: hidden;
}

.container_earrings1-img {
  margin-top: -20px;
}

.container_earrings1-description {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 9px;
  padding-bottom: 20px;
}

.container_ring1-description-name,
.container_ring2-description-name,
.container_earrings1-description-name,
.container_earrings2-description-name {
  font-family: var(--body-font-small);
  font-weight: var(--font-regular);
  font-size: var(--small-font-size);
  color: var(--first-color);
}

.container_ring1-description-p,
.container_ring2-description-p,
.container_earrings1-description-p,
.container_earrings2-description-p {
  font-family: var(--body-font-small);
  font-weight: var(--font-small);
  font-size: var(--smaller-font-size);
  color: var(--text-color-transparent);
}

.container_ring1-price,
.container_ring2-price,
.container_earrings1-price,
.container_earrings2-price {
  font-family: var(--body-font-small);
  font-weight: var(--font-regular);
  font-size: var(--smaller-font-size);
  color: var(--text-color-orange);
}
