.container.section {
  padding-top: 20px;
  display: flex;
  gap: 20px;
  height: 820px;
}

.container_ring1,
.container_ring2,
.container_earrings1,
.container_earrings2 {
  background-color: #ededed;
}

.container_ring,
.container_earrings {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container_ring1-img {
  padding-top: 47px;
  padding-left: 70px;
  padding-right: 70px;
}

.container_ring1-description,
.container_ring2-description {
  padding-top: 67px;
  padding-left: 30px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.container_ring2-img {
  padding-top: 60px;
  padding-left: 70px;
  padding-right: 70px;
}

.container_earrings1-img {
  padding-left: 40px;
  padding-right: 40px;
  margin-top: -20px;
  overflow: hidden;
}

.container_earrings1-description {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-top: -15px;
  padding-left: 30px;
  padding-bottom: 20px;
}

.container_earrings2-img {
  padding-left: 43px;
  padding-right: 43px;
}

.container_earrings2-description {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-top: -10px;
  padding-left: 30px;
  padding-bottom: 20px;
}

.container_earrings2-img {
  margin-top: -9px;
}
