.footer.section {
  background-color: var(--first-color);
  padding: 80px 162px;
  display: flex;
  flex-direction: column;
  gap: 90px;
}

.footer__description {
  white-space: nowrap;
  display: flex;
  gap: 72px;
}

.footer__description-a {
  text-decoration: none;
  color: var(--text-color-white);
  font-weight: 450;
  font-family: var(--body-font-big);
  font-size: 14px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.footer__description2 {
  display: flex;
  justify-content: space-between;
}

.footer__contact {
  display: flex;
  gap: 80px;
}

.footer__contact-phone {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-phone-title {
  color: var(--text-color-white);
  font-weight: var(--font-regular);
  font-family: var(--body-font-big);
  font-size: 14px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.footer-phone {
  color: var(--text-color-transparent);
  font-weight: var(--font-small);
  font-family: var(--body-font-big);
  font-size: var(--smaller-font-size);
  letter-spacing: 0.06em;
}

.footer-button {
  display: flex;
  gap: 20px;
}

.footer__contact-email {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-email-title {
  color: var(--text-color-white);
  font-weight: var(--font-regular);
  font-family: var(--body-font-big);
  font-size: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.footer_search {
  display: flex;
  justify-content: space-between;
  border-bottom: 1.8px solid var(--text-color-white);
  max-width: 280px;
  padding-bottom: 8px;
}

.footer_search-line {
  background-color: transparent;
  border: none;
  width: 100%;
}

.footer__button-g-a {
  display: flex;
  justify-content: center;
  align-items: center;
}
