.hamburger-nav__container {
  padding: 40px 163px;
  background-color: var(--first-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger-nav__menu {
  display: flex;
  gap: 60px;
}

.hamburger-nav__list {
  display: flex;
  gap: 40px;
}

.hamburger-menu-collection {
  padding: 27px 193px 0px 163px;
  background: #2f2f2f;
  display: flex;
  gap: 50px;
}

.hamburger-menu-collection-button {
  color: var(--text-color-white);
  font-weight: 450;
  font-family: var(--body-font-big);
  font-size: var(--small-font-size);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 2px solid transparent; /* Прозрачная линия заранее */
  transition: border-color 0.3s;
  padding-bottom: 27px;
}

.hamburger-menu-collection-button:hover {
  border-bottom: 1.8px solid #ffffff;
}

.hamburger-choice {
  background-color: var(--first-color);
  padding-top: 70px;
  padding-left: 163px;
  padding-bottom: 70px;
  display: flex;
  gap: 100px;
}

.hamburger-choice-block {
  flex-direction: column;
  display: flex;
  gap: 30px;
}

.hamburger-choice-elements {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.hamburger-choice-elements-a {
  text-decoration: none;
  color: var(--text-color-white);
  font-weight: 400;
  font-family: var(--body-font-big);
  font-size: var(--smaller-font-size);
  letter-spacing: 0.06em;
}

.hamburger-choice-title {
  color: var(--text-color-white);
  font-weight: 600;
  font-family: var(--body-font-big);
  font-size: var(--small-font-size);
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hamburger-choice-elements-all {
  text-decoration: none;
  color: var(--text-color-orange);
  font-weight: 400;
  font-family: var(--body-font-big);
  font-size: var(--smaller-font-size);
  letter-spacing: 0.06em;
}

.hamburger-menu.section {
  position: fixed;
  top: 0px;
  top: -100%; /* Полностью прячет блок вверх */
  width: 100%;
  transition: 0.4s ease; /* Плавность движения */
}

/* Класс, который будет добавлять JS */
.hamburger-menu.section.active {
  top: 0; /* Выезжает на экран */
}
