.hamburger-nav__container {
  padding: 40px 163px;
  background-color: var(--first-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger-nav__menu {
  display: flex;
  gap: 60px;
}

.hamburger-nav__list {
  display: flex;
  gap: 40px;
}
