/*=============== HEADER & NAV ===============*/

.header {
  padding: 60px 162px;
  background: linear-gradient(
    to left,
    rgba(39, 39, 39, 1) 40%,
    transparent 30%
  );
  display: flex;
  flex-direction: column;
  gap: 314px;
}

.nav__list_like,
.nav__list_people,
.nav__list_basket {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.nav__container {
  display: flex;
  justify-content: space-between;
}

.nav__menu {
  display: flex;
  align-items: center;
  gap: 80px;
}

.nav__list {
  display: flex;
  gap: 40px;
}

.nav__toggle_button {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.nav__toggle_line {
  width: 30px;
  height: 1px;
  background-color: var(--text-color-white);
}

.header__name {
  font-family: var(--body-font-big);
  font-size: var(--big-font-size);
  letter-spacing: 2px;
  vertical-align: middle;
  padding-right: 60px;
}

.header__body {
  display: flex;
  justify-content: space-evenly;
  padding-right: 11vw;
}

.header__body_text {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.header__text_mini {
  display: flex;
  padding-left: 129px;
  gap: 38px;
}

.header__button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
  font-family: var(--body-font-small);
  position: relative;
}

.header__button::after {
  display: block;
  content: "";
  width: 130px;
  height: 1px;
  background: var(--first-color);
  position: absolute;
  top: 50%;
  left: -168px;
}

.header__footer {
  display: flex;
  justify-content: space-between;
}

.header__footer_lang_button {
  font-family: var(--body-font-small);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}

.header__footer_description {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.header__footer_description_name {
  font-weight: var(--font-regular);
  font-size: var(--small-font-size);
  color: var(--text-color-white);
  letter-spacing: 5%;
  text-align: right;
}

.header__footer_description_all {
  font-family: var(--body-font-small);
  font-weight: var(--font-small);
  font-size: var(--smaller-font-size);
  color: var(--text-color-transparent);
  text-align: right;
}

.header__footer_description_price {
  font-family: var(--body-font-small);
  font-weight: var(--font-small);
  font-size: var(--smaller-font-size);
  color: var(--text-color-orange);
  text-align: right;
}
