.maps.section {
  display: flex;
  min-height: 604px;
}

.address_search {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--first-color);
  padding-left: 11%;
  padding-right: 11%;
  padding-top: 12%;
  position: relative;
  padding-bottom: 11.2%;
  max-width: 710px;
}

.address_search_text {
  font-family: var(--body-font-big);
  font-weight: var(--font-regular);
  font-size: var(--normal-font-size);
  color: var(--text-color-white);
  letter-spacing: 3px;
}

.address_search_text_info {
  font-family: var(--body-font-small);
  font-weight: var(--font-small);
  font-size: var(--smaller-font-size);
  color: var(--text-color-white);
  padding-top: 16px;
}

.address_point {
  position: relative;
  flex: 1 1 calc(50% + 21px);
  background-color: var(--first-color);
}

.adress_search-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1.8px solid var(--text-color-white);
  padding-top: 60px;
  padding-bottom: 10px;
}

.adress_search-line {
  background-color: transparent;
  border: none;
}

.maps_image {
  position: absolute;
  height: 100%;
  width: auto;
  aspect-ratio: 740/604;
  object-fit: cover;
}

.point_map1 {
  position: absolute;
  top: 18%;
  left: 7%;
}

.image-container .point_map-overlay {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  opacity: 0;
}

.image-container:hover .point_map1 {
  opacity: 0;
}

.image-container:hover .point_map-overlay {
  opacity: 1;
}

.point_map2 {
  position: absolute;
  top: 172px;
  left: 250px;
}

.point_map3 {
  position: absolute;
  top: 232px;
  left: 365px;
}

.point_map4 {
  position: absolute;
  top: 361px;
  left: 470px;
}

.point_map5 {
  position: absolute;
  top: 412px;
  left: 258px;
}
