.maps.section {
  display: flex;
}

.address_search {
  display: flex;
  width: 50%;
  justify-content: center;
  flex-direction: column;
  background-color: var(--first-color);
  padding-left: 10%;
  padding-right: 10%;
}

.address_search_text {
  font-family: var(--body-font-big);
  font-weight: var(--font-regular);
  font-size: var(--normal-font-size);
  color: var(--text-color-white);
  letter-spacing: 3px;
}

.address_search_text_info {
  font-family: var(--body-font-small);
  font-weight: var(--font-small);
  font-size: var(--smaller-font-size);
  color: var(--text-color-white);
  letter-spacing: ;
}

.address_point {
  width: 50%;
}

.maps_image {
  width: 100%;
}
