.maps.section {
  display: flex;
}

.address_search {
  display: flex;
  width: 50%;
  justify-content: center;
  flex-direction: column;
  background-color: var(--first-color);
  padding-left: 11%;
  padding-right: 11%;
  padding-top: 12%;
  position: relative;
  padding-bottom: 11.2%;
}

.address_search_text {
  font-family: var(--body-font-big);
  font-weight: var(--font-regular);
  font-size: var(--normal-font-size);
  color: var(--text-color-white);
  letter-spacing: 3px;
}

.address_search_text_info {
  font-family: var(--body-font-small);
  font-weight: var(--font-small);
  font-size: var(--smaller-font-size);
  color: var(--text-color-white);
  padding-top: 16px;
}

.address_point {
  position: relative;
  width: 50%;
}

.adress_search-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1.8px solid var(--text-color-white);
  padding-top: 60px;
  padding-bottom: 10px;
}

.adress_search-line {
  background-color: transparent;
  border: none;
}

.maps_image {
  width: 100%;
  position: absolute;
}

.point_map {
  position: absolute;
  top: 149px;
  left: 77px;
}
