.models.section {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: space-between;
}

.models__card-man {
  position: relative;
  display: inline-block;
}

.models__card-woman {
  position: relative;
  display: inline-block;
}

.models_section-information {
  position: absolute;
  top: 40%;
  left: 35%;
}

.models__card-name {
  font-weight: var(--font-small);
  font-size: 24px;
  font-family: var(--body-font-small);
  color: var(--text-color-white);
}
