.models.section {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 21px;
}

.models__card-man {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.models__card-woman {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.models_section-information {
  position: absolute;
  top: 40%;
  left: 30%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.models__card-name {
  font-weight: var(--font-small);
  font-size: 24px;
  font-family: var(--body-font-small);
  color: var(--text-color-white);
}

.models__card-a {
  font-weight: var(--font-regular);
  font-size: var(--big-font-size);
  font-family: var(--body-font-big);
  color: var(--text-color-white);
}

.models__card-a::after {
  content: "";
  display: block;
  width: 130px;
  height: 1px;
  background: var(--text-color-white);
  margin-top: 23px;
  margin-left: 30%;
}
