.models.section {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
  gap: 21px;
}

.models__card-man {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  filter: brightness(0.9) grayscale(0.1);
}

.models__card-woman {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  filter: brightness(0.9) grayscale(0.1);
}

.models_section-information {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 2;
  transform: translateX(-50%) translateY(-50%);
}

.models__card-name {
  font-weight: var(--font-small);
  font-size: 24px;
  font-family: var(--body-font-small);
  color: var(--text-color-white);
}

.models__card-a {
  font-weight: var(--font-regular);
  font-size: var(--big-font-size);
  font-family: var(--body-font-big);
  color: var(--text-color-white);
}

.models__card-a::after {
  content: "";
  display: block;
  width: 130px;
  height: 1px;
  background: var(--text-color-white);
  margin-top: 23px;
  margin-left: 30%;
}
