.scroll.section {
  margin-top: 20px;
  background-color: var(--first-color);
}

.scroll_section_title {
  font-size: var(--normal-font-size);
  font-family: var(--body-font-big);
  font-weight: var(--font-regular);
  color: var(--text-color-white);
  letter-spacing: 3px;
  vertical-align: middle;

  padding-top: 100px;
  padding-left: 162px;
}

.scroll_imgs {
  display: grid;
  grid-auto-rows: 100%;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 40px;
  overflow-x: auto;
  margin-top: 80px;
  height: 385px;
}

.scroll_imgs img:first-child {
  margin-right: 0;
}

.scroll_imgs img {
  height: 100%;
  width: auto;
  object-fit: contain;
  display: block;
}

.scroll_footer {
  display: flex;
  padding: 80px 162px 100px 162px;
  justify-content: space-between;
}

.scroll_footer-button {
  display: flex;
  gap: 20px;
}

.scroll_footer-switch {
  display: flex;
  gap: 233px;
}
