.scroll.section {
  margin-top: 20px;
  background-color: var(--first-color);
}

.scroll_section_title {
  font-size: var(--normal-font-size);
  font-family: var(--body-font-big);
  font-weight: var(--font-regular);
  color: var(--text-color-white);
  letter-spacing: 3px;
  vertical-align: middle;

  padding-top: 100px;
  padding-left: 162px;
}

.scroll_imgs {
  display: flex;
  gap: 40px;
  overflow-x: hidden;
  margin-top: 80px;
  height: 385px;
  overscroll-behavior-y: contain;
}

.first-img {
  flex-shrink: 0;
  padding-left: calc(50vw - 130px);
}

.last-img {
  margin-right: calc(50vw - 192px);
}

.scroll_imgs img {
  height: 100%;
  width: auto;
  object-fit: contain;
  display: block;
}

.scroll_footer {
  display: flex;
  padding: 80px 162px 100px 162px;
  justify-content: space-between;
  align-items: center;
}

.scroll_footer-button {
  display: flex;
  gap: 20px;
}

.scroll_footer-switch {
  display: flex;
  gap: 50px;
}

.buttons__dots {
  display: flex;
  gap: 17px;
  align-items: center;
}

.button__dot {
  width: 8px;
  height: 8px;
  background-color: #656565;
  border-radius: 50%;
}

.button__dot.active {
  border: 1.8px solid #ffffff;
  background-color: #ffffff;
}
