/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Forum&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");
/*=============== HEADER & NAV ===============*/
.header::after {
  content: "";
  background-color: var(--first-color);
  position: absolute;
  height: 100%;
  pointer-events: none;
  z-index: 0;
  margin-left: 65%;
  width: 35%;
  z-index: 0;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 60px 162px;
}

.nav__list_like,
.nav__list_people,
.nav__list_basket {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.nav__container {
  display: flex;
  justify-content: space-between;
}
