/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 60px;

  /*========== Colors ==========*/
  --first-color: rgba(39, 39, 39, 1);
  --text-color-white: rgba(255, 255, 255, 1);
  --text-color-orange: rgba(239, 197, 139, 1);
  --text-color-transparent: rgba(149, 149, 149, 1);

  /*========== Font and typography ==========*/
  --body-font: "Forum", sans-serif;
  --big-font-size: 64px;
  --normal-font-size: 48px;
  --small-font-size: 16px;
  --smaller-font-size: 18px;
  --transparent-font-size: 22px;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-small: 300;
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  z-index: 1;
}

/*=============== HEADER & NAV ===============*/

.header::after {
  content: "";
  background-color: var(--first-color);
  position: absolute;
  height: 100%;
  pointer-events: none;
  z-index: 0;
  margin-left: 65%;
  width: 35%;
  z-index: 0;
}

.nav_container {
  padding: 60px 162px;
  display: flex;
  text-align: center;
  position: absolute;
  width: 100%;
  justify-content: space-between;
}

.nav__link {
  display: flex;
  text-align: center;
  justify-content: end;
  width: 100%;
  padding-top: 17px;
  padding-bottom: 17px;
  z-index: 1;
  padding-right: 100px;
  column-gap: 40px;
}

.nav__toggle {
  z-index: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 5px;
}

.nav__togle_button {
  color: var(--text-color-white);
  width: 30px;
  margin-top: 8px;
}

/*=============== HOME ===============*/
.home__data {
  display: flex;
  column-gap: 50px;
  padding-top: 439px;
  padding-left: 162px;
}

.home__title {
  font-weight: var(--font-regular);
  font-size: var(--big-font-size);
  letter-spacing: 3%;
  vertical-align: middle;
  line-height: 100%;
}

.home__title_mini {
  display: flex;
  padding-top: 50px;
}

.home__title_mini_line {
  background-color: var(--first-color);
  width: 130px;
  height: 1px;
}

.home__title_mini_text {
  font-family: "Segoe UI", sans-serif;
  font-weight: var(--font-small);
  font-size: var(--smaller-font-size);
  line-height: 100%;
  letter-spacing: 0%;
}

.home__footer {
  display: flex;
  justify-content: space-between;
  padding-top: 281px;
  padding-left: 162px;
}
