/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Forum&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");
/*=============== HEADER & NAV ===============*/

.header {
  padding: 60px 162px;
  background: linear-gradient(
    to left,
    rgba(39, 39, 39, 1) 40%,
    transparent 30%
  );
  display: flex;
  flex-direction: column;
}

.nav__list_like,
.nav__list_people,
.nav__list_basket {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.nav__container {
  display: flex;
  justify-content: space-between;
}

.nav__menu {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  column-gap: 40px;
}

.nav__togle {
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.nav__togle_button {
  width: 30px;
}
