/*=============== HEADER & NAV ===============*/

.header {
  padding: 60px 162px;
  background: linear-gradient(
    to left,
    rgba(39, 39, 39, 1) 40%,
    transparent 30%
  );
  display: flex;
  flex-direction: column;
  gap: 314px;
}

.nav__list_like,
.nav__list_people,
.nav__list_basket {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.nav__container {
  display: flex;
  justify-content: space-between;
}

.nav__menu {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  column-gap: 40px;
}

.nav__togle {
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.nav__togle_button {
  width: 30px;
}

.header__name {
  font-family: var(--body-font-big);
  font-size: var(--big-font-size);
  letter-spacing: 3%;
  vertical-align: middle;
}

.header__body {
  display: flex;
  gap: 94px;
}

.header__text_mini {
  display: flex;
  padding-left: 129px;
  gap: 38px;
}

.header__line {
  background-color: var(--first-color);
  width: 130px;
  height: 1px;
}

.header__button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}
