/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 60px;

  /*========== Colors ==========*/
  --first-color: rgba(39, 39, 39, 1);
  --text-color-white: rgba(255, 255, 255, 1);
  --text-color-orange: rgba(239, 197, 139, 1);
  --text-color-transparent: rgba(149, 149, 149, 1);

  /*========== Font and typography ==========*/
  --body-font: "Forum", sans-serif;
  --big-font-size: 64px;
  --normal-font-size: 48px;
  --small-font-size: 16px;
  --smaller-font-size: 18px;
  --transparent-font-size: 22px;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-small: 300;
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== HEADER & NAV ===============*/

.header::after {
  content: "";
  background-color: var(--first-color);
  position: absolute;
  height: 100%;
  pointer-events: none;
  z-index: 0;
  margin-left: 65%;
  width: 35%;
  z-index: 0;
}

.nav_container {
  padding: 60px 162px;
  display: flex;
  text-align: center;
  position: absolute;
  width: 100%;
  justify-content: space-between;
}

.nav__link {
  display: flex;
  text-align: center;
  justify-content: space-between;
  width: 100%;
}

.nav__toggle {
  z-index: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  column-gap: 8px;
  padding-top: 2px;
}

.nav__togle_button {
  color: var(--text-color-white);
  width: 30px;
}
